:root {
  --bg-Dodger-Blue:#122ab2;
  --bg-Dodger-Blue-light-menu: #2c70ff;
  --bg-Earthborn-Bugle: #f7f7f7;
  --Malibu-color: #96c0fc;
  --White-color-anchor: #fff;
  --Primo-color-paragraph: #7c7c7c;
  --Grigio-color: #a4a4a4;
}